* {
    margin: 0.5px;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #23272A;
    color: white;
    margin: 1.6vw;
    padding: 1%;
}

a {
    color: #F6AE2D;
}

.content {
    padding-top: 40px;
}

.content p {
    padding-top: 0.2vw;
}

.footer {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
    color: #393e42;
}

.releases {
    margin-top: 15px;
}

i {
    color: #9FA2B2;
}

.yellow {
    color: #F6AE2D;
}

.label {
    color: white;
    font-size: 0.9em;
    padding: 2px;
    border-radius: 5px;
}
  
.latest {background-color: #4CAF50;}
.beta {background-color: #f34121;} 